.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .content {
    display: flex;
    align-items: stretch; /* Ensure children stretch to the same height */
  }
  
  .Bitacora {
    flex: 1 1 70%; /* Allocate 60% width for the Bitacora component */
  }
  
  .side-image {
    margin-left: 5px;
    flex: 1 1 25%; /* Allocate 40% width for the image */
    max-width: 25%; /* Ensure the image does not exceed 40% of the width */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure the image covers the area */
  }